.App {
    margin: 0 auto;
}

.card-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: start;
}

button {
    background-color: rgb(115, 115, 246);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: .8;
}

button:hover {
    opacity: 1;
}

.CardForm {
    padding-bottom: 1.5rem;
}

input, select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
    width: 50%;
    height: 100%;
    margin-right: 10px;
}